* {
    transition: 0.2s;
}

window {
    font-family: "FiraCode Nerd Font Mono";
    font-size: 13px;
}

window {
    margin: 0px;
    background-color: #282a36;
    border-image: linear-gradient(-45deg, #50fa7b 0%, #bd93f9 100%) 1;
    border-width: 3px;
    border-style: solid;
}

#input {
    padding: 4px;
    margin: 20px;
    padding-left: 20px;
    color: #f8f8f2;
    font-weight: bold;
    outline: none;
    border-image: linear-gradient(45deg, #FFB86C 0%, #FF79C6 100%) 1;
    border-width: 3px;
    border-style: solid;
}

#input image {
    color: #f8f8f2;
}

#inner-box {
    margin: 20px;
    margin-top: 0px;
    border: none;
    color: #8be9fd;
    border-radius: 16px;
}

#inner-box * {
    transition: none;
}

#outer-box {
    margin: 0px;
    border: none;
    padding: 0px;
    border-radius: 16px;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 16px;
    margin-bottom: 5px;
}

#text:selected {
    color: #282a36;
    font-weight: bold;
}

#img {
    margin-right: 20px;
    background: transparent;
}

#text {
    margin: 0px;
    border: none;
    padding: 0px;
    background: transparent;
}

#entry {
    margin: 0px;
    border: none;
    border-radius: 16px;
    background-color: transparent;
    min-height: 32px;
    font-weight: bold;
}

#entry:selected {
    outline: none;
    margin: 0px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #50fa7b 0%, #8be9fd 100%);
}