* {
    transition: 0.2s;
}

window {
    font-family: "FiraCode Nerd Font Mono";
    font-size: 13px;
    margin: 0px;
    background-color: #282a36;
    border-image: linear-gradient(-45deg, #50fa7b 0%, #bd93f9 100%) 1;
    border-width: 3px;
    border-style: solid;
}

#input {
    display: none;
    margin: -1000px 5px;
}

#inner-box {
    margin: 0px;
    border: none;
    color: #bd93f9;
}

#inner-box * {
    transition: none;
}

#outer-box {
    margin: 20px;
    border: none;
    padding: 0px;
    border-radius: 16px;
}

#text:selected {
    color: #282a36;
    font-weight: bold;
}

#text {
    margin: 10px;
    border: none;
    padding: 0px;
    background: transparent;
}

#entry {
    margin: 0px;
    border: none;
    border-radius: 16px;
    background-color: transparent;
    min-height: 32px;
    font-weight: bold;
}

#entry:selected {
    outline: none;
    margin: 0px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(45deg, #50fa7b 0%, #8be9fd 100%);
}