@define-color bg #282a36;
@define-color bg-hover #44475a;
@define-color button-border #6272a4;
@define-color fg #f8f8f2;
@define-color red #ff5555;
@define-color green #50fa7b;
@define-color purple #bd93f9;
@define-color cyan #8be9fd;
@define-color pink #ff79c6;

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/* Main panel */
.control-center {
  background: @bg;
  border-radius: 16px;
  border-color: @green;
  border-width: 3px;
  border-style: solid;
  border-radius: 16px;
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}


/* Single row in panel */
.notification-row {
  outline: none;
  background: transparent;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
}

.notification-row:focus,
.notification-row:hover {
  outline: none;
  background: transparent;
}

.notification {
  box-shadow: none;
  outline: none;
  padding: 0;
  margin: 0;
  border-radius: 16px;
  border: 2px solid @purple;
  background: @bg;
}

/* specific urgency colors */
.critical .summary {
  color: @red;
}

.notification-content {
  outline: none;
  margin: 0px;
  padding: 8px;
  background: @bg;
}

.control-center .notification-content {
  border: none;
  background: transparent;
}

.close-button {
  background: @bg;
  color: white;
  text-shadow: none;
  padding: 0;
  margin-top: 15px;
  margin-right: 15px;
  box-shadow: none;
  border: none;
  border-radius: 100%;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @bg-hover;
  transition: all 0.15s ease-in-out;
  border: none;
}

.control-center .close-button {
  margin-top: 4px;
  margin-right: 4px;
}

.notification-default-action,
.notification-action {
  padding: 0;
  margin: 0;
  box-shadow: none;
  color: @fg;
  outline: none;
  background: transparent;
  border: none;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
}

.image {
  border-radius: 100%;
}

.body-image {
  background-color: @fg;
  border-radius: 100%;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @fg;
  text-shadow: none;
}

.time {
  font-size: 13px;
  background: transparent;
  color: @fg;
  text-shadow: none;
  margin-right: 5px;

}

.body {
  font-size: 13px;
  font-weight: normal;
  background: transparent;
  color: @fg;
  text-shadow: none;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: @fg;
  text-shadow: none;
}


/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-title>button {
  font-size: initial;
  color: @fg;
  text-shadow: none;
  background: @bg;
  border: 1px solid @button-border;
  box-shadow: none;
  border-radius: 8px;
}

.widget-title>button:hover {
  background: @bg-hover;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1rem;
}

.widget-dnd>switch {
  font-size: initial;
  border-radius: 12px;
  background: @red;
  border: 1px solid @button-border;
  box-shadow: none;
}

.widget-dnd>switch:checked {
  background: @green;
}

.widget-dnd>switch slider {
  background: @fg;
  border-radius: 12px;
}

/* Label widget */
.widget-label {
  margin: 8px;
}

.widget-label>label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}

.widget-mpris-player {
  padding: 8px;
  margin: 8px;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-size: 0.85rem;
}